@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #16141b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  letter-spacing: 5px;
  color: aliceblue;
}

.pokeContainer{
  display: flex;
  color: aliceblue;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon{
  background:linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
  border-radius: 10px;
  border: lightgreen solid 4px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(214, 214, 214, 0.3),
    rgba(77, 77, 77, 0.1)
  );
  box-shadow: 0 0 10px 10px rgba(202, 201, 201, 0.05);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.imgContainer img{
  max-width: 90%;
}

.info{
  margin-top: 20px;
}
.type span{
text-transform: capitalize;
font-weight: bold;
}
.number{
  background-color:rgba(0, 0, 0, 0.15) ;
  padding: 2px 13px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.name{
  margin: 15px 0 7px;
  letter-spacing: 1.5px;  
}